/3_graphene_nanoribbons/gnr_pw.gpw
/2_graphene_bilayers/scripts/tight_binding/scripts/DFT.gpw
/graphene nanoribbons/spin polarised dft/zgnr_Ny4_M1_scf.gpw
/graphene nanoribbons/normal dft saturated/zgnr2_nonmag_relaxed.gpw
/graphene nanoribbons/normal dft saturated/zgnr4_nonmag_relaxed.gpw
/graphene nanoribbons/normal dft autopilot saturated 400_250 sampling/runs/ZGNR-1/zgnr1_nonmag_relaxed.gpw
/graphene nanoribbons/normal dft autopilot saturated 400_250 sampling/runs/ZGNR-2/zgnr2_nonmag_relaxed.gpw
/graphene nanoribbons/normal dft autopilot saturated 400_250 sampling/runs/ZGNR-4/zgnr4_nonmag_relaxed.gpw
/graphene nanoribbons/normal dft autopilot saturated 400_250 sampling/runs/ZGNR-6/zgnr6_nonmag_relaxed.gpw
/graphene nanoribbons/normal dft autopilot saturated 400_250 sampling/runs/ZGNR-8/zgnr8_nonmag_relaxed.gpw
/graphene nanoribbons/normal dft autopilot saturated 300_200 sampling/runs/ZGNR-1/zgnr1_nonmag_relaxed.gpw
/graphene nanoribbons/normal dft autopilot saturated 300_200 sampling/runs/ZGNR-2/zgnr2_nonmag_relaxed.gpw
/graphene nanoribbons/normal dft autopilot saturated 300_200 sampling/runs/ZGNR-4/zgnr4_nonmag_relaxed.gpw
/graphene nanoribbons/normal dft autopilot saturated 300_200 sampling/runs/ZGNR-6/zgnr6_nonmag_relaxed.gpw
/graphene nanoribbons/normal dft autopilot saturated 300_200 sampling/runs/ZGNR-8/zgnr8_nonmag_relaxed.gpw
/graphene nanoribbons/spin polarised dft nanoribbon/zgnr_scf.gpw
/graphene nanoribbons/spin polarised dft nanoribbon armchair for 2 strands/zgnr_scf.gpw
