/3_graphene_nanoribbons/gnr_pw.gpw
/2_graphene_bilayers/scripts/tight_binding/scripts/DFT.gpw
/graphene nanoribbons/spin polarised dft LCAO/zgnr_Ny4_M1_scf.gpw
/graphene nanoribbons/normal dft saturated/zgnr2_nonmag_relaxed.gpw
/graphene nanoribbons/normal dft saturated/zgnr4_nonmag_relaxed.gpw
/graphene nanoribbons/normal dft autopilot saturated 400_250 sampling/runs/ZGNR-1/zgnr1_nonmag_relaxed.gpw
/graphene nanoribbons/normal dft autopilot saturated 400_250 sampling/runs/ZGNR-2/zgnr2_nonmag_relaxed.gpw
/graphene nanoribbons/normal dft autopilot saturated 400_250 sampling/runs/ZGNR-4/zgnr4_nonmag_relaxed.gpw
/graphene nanoribbons/normal dft autopilot saturated 400_250 sampling/runs/ZGNR-6/zgnr6_nonmag_relaxed.gpw
/graphene nanoribbons/normal dft autopilot saturated 400_250 sampling/runs/ZGNR-8/zgnr8_nonmag_relaxed.gpw
/graphene nanoribbons/normal dft autopilot saturated 300_200 sampling/runs/ZGNR-1/zgnr1_nonmag_relaxed.gpw
/graphene nanoribbons/normal dft autopilot saturated 300_200 sampling/runs/ZGNR-2/zgnr2_nonmag_relaxed.gpw
/graphene nanoribbons/normal dft autopilot saturated 300_200 sampling/runs/ZGNR-4/zgnr4_nonmag_relaxed.gpw
/graphene nanoribbons/normal dft autopilot saturated 300_200 sampling/runs/ZGNR-6/zgnr6_nonmag_relaxed.gpw
/graphene nanoribbons/normal dft autopilot saturated 300_200 sampling/runs/ZGNR-8/zgnr8_nonmag_relaxed.gpw
/graphene nanoribbons/spin polarised dft nanoribbon/zgnr_scf.gpw
/graphene nanoribbons/spin polarised dft nanoribbon armchair for 2 strands/zgnr_scf.gpw
/graphene nanoribbons/spin polarised dft PlaneWaves/zgnr_Ny4_M1_scf.gpw
/graphene nanoribbons/spin polarised dft autopilot planewaves/zgnr_sweep_results/Ny1/zgnr_Ny1_M1_scf.gpw
/graphene nanoribbons/spin polarised dft autopilot planewaves/zgnr_sweep_results/Ny2/zgnr_Ny2_M1_scf.gpw
/graphene nanoribbons/spin polarised dft autopilot planewaves/zgnr_sweep_results/Ny4/zgnr_Ny4_M1_scf.gpw
/graphene nanoribbons/spin polarised dft autopilot planewaves/zgnr_sweep_results/Ny6/zgnr_Ny6_M1_scf.gpw
/graphene nanoribbons/spin polarised dft autopilot planewaves/zgnr_sweep_results/Ny8/zgnr_Ny8_M1_scf.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.1.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.001.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.002.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.003.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.000.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.004.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.005.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.006.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.007.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.008.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.010.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.009.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.011.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.012.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.013.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.014.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.015.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.016.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.017.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.018.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.019.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.020.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.050.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/field_sweep.log
/2_graphene_bilayers/scripts/tight_binding/gpw/field_sweep_results.csv
/2_graphene_bilayers/scripts/tight_binding/gpw/gate_A0.000.txt
/2_graphene_bilayers/scripts/tight_binding/gpw/gate_A0.001.txt
/2_graphene_bilayers/scripts/tight_binding/gpw/gate_A0.002.txt
/2_graphene_bilayers/scripts/tight_binding/gpw/gate_A0.003.txt
/2_graphene_bilayers/scripts/tight_binding/gpw/gate_A0.004.txt
/2_graphene_bilayers/scripts/tight_binding/gpw/gate_A0.005.txt
/2_graphene_bilayers/scripts/tight_binding/gpw/gate_A0.006.txt
/2_graphene_bilayers/scripts/tight_binding/gpw/gate_A0.007.txt
/2_graphene_bilayers/scripts/tight_binding/gpw/gate_A0.008.txt
/2_graphene_bilayers/scripts/tight_binding/gpw/gate_A0.009.txt
/2_graphene_bilayers/scripts/tight_binding/gpw/gate_A0.010.txt
/2_graphene_bilayers/scripts/tight_binding/gpw/gate_A0.016.txt
/2_graphene_bilayers/scripts/tight_binding/gpw/gate_A0.015.txt
/2_graphene_bilayers/scripts/tight_binding/gpw/gate_A0.014.txt
/2_graphene_bilayers/scripts/tight_binding/gpw/gate_A0.013.txt
/2_graphene_bilayers/scripts/tight_binding/gpw/gate_A0.012.txt
/2_graphene_bilayers/scripts/tight_binding/gpw/gate_A0.011.txt
/2_graphene_bilayers/scripts/tight_binding/gpw/gate_A0.050.txt
/2_graphene_bilayers/scripts/tight_binding/gpw/gate_A0.044.txt
/2_graphene_bilayers/scripts/tight_binding/gpw/gate_A0.020.txt
/2_graphene_bilayers/scripts/tight_binding/gpw/gate_A0.019.txt
/2_graphene_bilayers/scripts/tight_binding/gpw/gate_A0.018.txt
/2_graphene_bilayers/scripts/tight_binding/gpw/gate_A0.017.txt
/2_graphene_bilayers/scripts/tight_binding/gpw/gate_A0.016.txt
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.057.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.053.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.047.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.043.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.040.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.037.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.033.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.030.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.027.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw/ab_gate_plane_A0.023.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.000.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.000_bands.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.000_bands_.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.000_bands_FULL.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.000_bands_Kwin.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.000_bands_KZOOM.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.1.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.001.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.001_bands_KZOOM.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.002.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.002_bands_KZOOM.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.003.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.003_bands.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.003_bands_KZOOM.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.004.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.004_bands_KZOOM.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.005.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.005_bands.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.005_bands_KZOOM.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.006.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.006_bands_KZOOM.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.007.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.007_bands.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.007_bands_KZOOM.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.008.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.008_bands_KZOOM.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.009.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.009_bands_KZOOM.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.010.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.010_bands.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.010_bands_KZOOM.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.011.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.011_bands_KZOOM.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.012.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.012_bands_KZOOM.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.013.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.013_bands.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.013_bands_KZOOM.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.014.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.014_bands_KZOOM.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.015.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.015_bands.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.015_bands_KZOOM.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.016.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.016_bands_KZOOM.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.017.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.017_bands_KZOOM.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.018.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.018_bands_KZOOM.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.019.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.019_bands.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.019_bands_FULL.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.019_bands_Kwin.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.019_bands_KZOOM.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.020.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.020_bands.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.020_bands_KZOOM.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.050.gpw
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.050_bands.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/ab_gate_plane_A0.050_bands_KZOOM.npz
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/bandgaps_KZOOM.csv
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/bandgaps_KZOOM_0_to_0.02.csv
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/bands_KZOOM_vs_field.gif
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/field_sweep.log
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/field_sweep_results.csv
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/field_sweep_results_old.csv
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/gate_A0.000.txt
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/gate_A0.001.txt
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/gate_A0.002.txt
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/gate_A0.003.txt
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/gate_A0.004.txt
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/gate_A0.005.txt
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/gate_A0.006.txt
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/gate_A0.007.txt
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/gate_A0.008.txt
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/gate_A0.009.txt
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/gate_A0.010.txt
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/gate_A0.011.txt
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/gate_A0.012.txt
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/gate_A0.013.txt
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/gate_A0.014.txt
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/gate_A0.015.txt
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/gate_A0.016.txt
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/gate_A0.017.txt
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/gate_A0.018.txt
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/gate_A0.019.txt
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/gate_A0.020.txt
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/gate_A0.044.txt
/2_graphene_bilayers/scripts/tight_binding/gpw_backup/gate_A0.050.txt
